<section class="menus">
  <section>
    <div id="minihead" >
      <h1>Menu</h1>
      <h2>Today's Special</h2>
      <br>
      <hr>
      <div class="minimenu">
        <a (click)="onClickScroll('veg')">Veg</a>
        <a (click)="onClickScroll('non')">Non-veg</a>
        <a  (click)="onClickScroll('dessert')">Desserts</a>
        <a (click)="onClickScroll('thali')">Thali</a>
      </div>
      <hr>
    </div>
  </section>

  <!-- Veg -->
  <section class="hori" id="veg"><h1>Veg</h1></section>
  <section>
    <div class="menu">
      <a href="#"><img src="assets/menus/kewa.jpg" alt="Kewa Datshi"></a>
      <a href="#"><span>Kewa Datshi</span> <br> It is very yummy</a>
      <p>Nu. 180</p>
    </div>

    <div class="menu">
      <a href="#"><img src="assets/menus/emadatsi.jpg" alt="Ema Datshi"></a>
      <a href="#"><span>Ema Datshi</span> <br> It is very yummy</a>

      <p>Nu. 100</p>
    </div>
  </section>

  <section>

    <div class="menu">
      <a href="#"><img src="assets/menus/mash.jpg" alt="Mushroom"></a>
      <a href="#"><span>Mushroom</span> <br> It is very yummy</a>

      <p>Nu. 100</p>
    </div>

    <div class="menu">
      <a href="#"><img src="assets/menus/paneer.jpg" alt="Panner"></a>
      <a href="#"><span>Panner</span> <br> It is very yummy</a>

      <p>Nu. 100</p>
    </div>
  </section>

  <!-- Non Veg -->
  <section class="hori" id="non"><h1>Non-Veg</h1></section>
  <section>

    <div class="menu">
      <a href="#"><img src="assets/menus/chiken.jpg" alt="Chiken"></a>
      <a href="#"><span>Chiken</span> <br> It is very yummy</a>
      <p>Nu. 180</p>
    </div>

    <div class="menu">
      <a href="#"><img src="assets/menus/beef.jpg" alt="Beef"></a>
      <a href="#"><span>Beef</span> <br> It is very yummy</a>

      <p>Nu. 180</p>
    </div>
  </section>

  <section>

    <div class="menu">
      <a href="#"><img src="assets/menus/egg%20roll.jpg" alt="Egg Roll"></a>
      <a href="#"><span>Egg Roll</span> <br> It is very yummy</a>

      <p>Nu. 180</p>
    </div>

    <div class="menu">
      <a href="#"><img src="assets/menus/pork.jpeg" alt="Pork"></a>
      <a href="#"><span>Pork</span> <br> It is very yummy</a>

      <p>Nu. 180</p>
    </div>
  </section>
  <!-- Desserts -->
  <section class="hori" id="dessert"><h1>Desserts</h1></section>
  <section>

    <div class="menu">
      <a href="#"><img src="assets/menus/molten.jpg" alt="Chocolate Molten"></a>
      <a href="#"><span>Chocolate Molten</span> <br> It is very yummy</a>
      <p>Nu. 180</p>
    </div>

    <div class="menu">
      <a href="#"><img src="assets/menus/poke.jpg" alt="Chocolate Poke"></a>
      <a href="#"><span>Chocolate Poke </span> <br> It is very yummy</a>

      <p>Nu. 180</p>
    </div>
  </section>

  <section>

    <div class="menu">
      <a href="#"><img src="assets/menus/lemon.jpg" alt="Lemon Cake"></a>
      <a href="#"><span>Lemon Cake</span> <br> It is very yummy</a>

      <p>Nu. 180</p>
    </div>

    <div class="menu">
      <a href="#"><img src="assets/menus/cake.jpg" alt="Cake Ball"></a>
      <a href="#"><span>Cake Ball</span> <br> It is very yummy</a>

      <p>Nu. 180</p>
    </div>
  </section>
  <!-- Thali -->
  <section class="hori" id="thali"><h1>Thali</h1></section>
  <section>

    <div class="menu">
      <a href="#"><img src="assets/menus/bhutanese-thali.jpg" alt="Bhutanese Thali"></a>
      <a href="#"><span>Bhutanese Thali</span> <br> It is very yummy</a>
      <p>Nu. 180</p>
    </div>

    <div class="menu">
      <a href="#"><img src="assets/menus/indian-thali.jpg" alt="Indian Thali"></a>
      <a href="#"><span>Indian Thali </span> <br> It is very yummy</a>

      <p>Nu. 180</p>
    </div>
  </section>
</section>

