<div class="contact">
  <div>
    <h2>Contact Us</h2>
    <img src="assets/image/mapp.png" alt="selise map">
  </div>
  <div>
    <h2>MAILING ADDRESS</h2>
    <h3>Selise Foodfairy</h3>
    <p> P.O. Box 633</p>
    <p> Bhutan Innovation Tech</p>
    <p> Babesa</p>
    <p> Bhutan</p>
    <br>
    <h2>CONTACT ADDRESS</h2>
    <p>Tel: +975-2-352352</p>
    <p>Mobile Number: +975-17558243</p>
    <p>Email Address: dechhenwangmo@gmail.com</p>
  </div>
</div>

<section class="log">
  <div>
    <h1> Your Feedback Here</h1>
    <br>
    <form>
      <input  type="text"  placeholder="Your Name">
      <br><br>
      <input  type="text"  placeholder="Phone Number">
      <br><br>
      <input  type="email" id="pw" placeholder="Email">
      <br><br>
      <textarea placeholder="Your Feedback here" ></textarea>
      <br><br>
      <input type="submit" value="Send" class="sub">
      <br>
    </form>
    <br>

  </div>
</section>
