<section class="shop">
  <h1>Cart</h1>
  <section>
    <table class="table">
      <thead>
        <tr>
          <th ></th>
          <th>Product Image</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sub Total</th>

        </tr>
      </thead>

      <tbody>
      <tr>
        <td > <i class="fa fa-times" aria-hidden="true"></i></td>
        <td><img src="assets/shop/kewa.jpg" alt="kewa"></td>
        <td data-label="Product">Kewa Datshi</td>
        <td data-label="Price">Nu. 100</td>
        <td data-label="Quantity">1</td>
        <td data-label="Sub Total">Nu. 100</td>
      </tr>


      </tbody>
    </table>
  </section>
  <h1>Cart Total</h1>
  <section>
    <table class="table">
      <thead>
        <tr>
          <th >Sub Total</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
      <tr>

        <td >Nu.100</td>
        <td>Nu. 100</td>

      </tr>
      </tbody>
    </table>

  </section>
  <br>
  <button ><a routerLink="/checkout">Check Out</a></button>

</section>

