<section class="intro">
  <aside >
    <h3> <a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> +975 17558243 </a> </h3>
    <h3> <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> location Babesa  </a> </h3>
    <h3><a routerLink="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a> </h3>
    <h3><a routerLink="signup"><i class="fa fa-plus" aria-hidden="true"></i> Sign up</a> </h3>
  </aside>
  <hr>
  <header class="topnav" id="myTopnav">
    <nav>

      <a routerLink="">Home</a>
      <a routerLink="/menus">Menu</a>
      <a routerLink="/shop">Shop</a>
      <a routerLink=""> <img src="assets/image/logo.PNG" alt="logo" > </a>
      <a routerLink="/checkout">Order</a>
      <a routerLink="/contact">Contact Us</a>
      <hr>
      <a routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars" aria-hidden="true">Menu</i>
      </a>
    </nav>
  </header>

  <aside>
    <h1>Delicious and Spicy</h1>
    <h2>Life is too shot for <br> boring food</h2>
    <h1>Welcome to <br>Selise Foodfairy</h1>
  </aside>
</section>

<router-outlet></router-outlet>

<footer>
  <div class="f1">
    <article>
      <h2>Selise Foodfairy</h2>
      <p>provides you with simple and convenient way for customers to
        purchase food online, without having to go to the restaurant.

      </p>
    </article>
    <article>
      <h2>Location</h2>
      Bhutan Innovation Tech <br>
      <i class="fa fa-map-marker" aria-hidden="true"></i> Babesa,Thimphu <br>
      Bhutan
    </article>
    <article>
      <h2>Follows us</h2>
      <ul>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>

    </article>

    <hr>
    <article>

      <ul>
        <li><h2>Quick Links</h2></li>

        <li><a routerLink="/menus">MENU</a></li>
        <li><a routerLink="/shop">SHOP</a></li>
        <li><a routerLink="/cart">CART</a></li>
        <li><a routerLink="/contact">CONTACT</a></li>

      </ul>

    </article>
  </div>
  <div class="f2">
    <hr>
    <br>
    <pre>&copy; 2020 Dechen Wangmo         Privacy Policy       Terms and conditions</pre>
  </div>
</footer>

