<section class="log">
  <div>

    <h1>Sign up</h1>
    <br>
    <form>
      <input name="Phone number" type="text" id="pn" placeholder="Phone Number">
      <br><br>
      <input name="name" type="text" id="name" placeholder="Name">
      <br><br>
      <input name="password" type="password" id="pw" placeholder="Password">
      <br><br>
      <input name="confirm password" type="password" id="cpw" placeholder="Confirm Password">
      <br><br>
      <input type="submit" value="Create Account" class="sub">
      <br>
    </form>
  </div>
</section>
