<section class="shop">
  <h1>Shop with us</h1>
  <h2>Veg</h2>
  <section>
    <article>
      <img src="assets/shop/kewa.jpg" alt="Kewa Datshi">
      <h3>Kewa Datshi</h3>
      <h3>Nu. 100</h3>
      <div id="viewcart1">
      <button  onclick='document.getElementById("viewcart1").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/emadatsi.jpg" alt="Ema Datshi">
      <h3>Ema Datshi</h3>
      <h3>Nu. 100</h3>
      <div id="viewcart2">
        <button  onclick='document.getElementById("viewcart2").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/paneer.jpg" alt="Panner">
      <h3>Panner</h3>
      <h3>Nu. 100</h3>
      <div id="viewcart3">
        <button  onclick='document.getElementById("viewcart3").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/mash.jpg" alt="Mushroom Datshi">
      <h3>Mushroom Datshi</h3>
      <h3>Nu. 100</h3>
      <div id="viewcart4">
        <button  onclick='document.getElementById("viewcart4").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>
  </section>
</section>
<section class="shop">
  <h2>Non Veg</h2>
  <section>
    <article>
      <img src="assets/shop/chiken.jpg" alt="chiken">
      <h3>Chiken</h3>
      <h3>Nu. 180</h3>
      <div id="viewcart5">
        <button  onclick='document.getElementById("viewcart5").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/beef.jpg" alt="beef">
      <h3>Beef</h3>
      <h3>Nu. 180</h3>
      <div id="viewcart6">
        <button  onclick='document.getElementById("viewcart6").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/eggroll.jpg" alt="egg roll">
      <h3>Egg Roll</h3>
      <h3>Nu. 150</h3>
      <div id="viewcart7">
        <button  onclick='document.getElementById("viewcart7").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/pork.jpeg" alt="pork">
      <h3>Pork</h3>
      <h3>Nu. 180</h3>
      <div id="viewcart8">
        <button  onclick='document.getElementById("viewcart8").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>
  </section>

</section>

<section class="shop">
  <h2>Thali</h2>
  <section>
    <article>
      <img src="assets/shop/indianvegthali.jpg" alt="indian veg thali">
      <h3>Indian Veg <br> Thali</h3>
      <h3>Nu. 200</h3>
      <div id="viewcart9">
        <button  onclick='document.getElementById("viewcart9").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/indiannonvegthali.jpg" alt="Indian Non-Veg Thali">
      <h3>Indian Non <br> Veg Thali</h3>
      <h3>Nu. 200</h3>
      <div id="viewcart10">
        <button  onclick='document.getElementById("viewcart10").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/bvegthali.jpg" alt="Bhutanese Veg Thali">
      <h3>Bhutanese <br>Veg Thali</h3>
      <h3>Nu. 200</h3>
      <div id="viewcart11">
        <button  onclick='document.getElementById("viewcart11").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>

    <article>
      <img src="assets/shop/bnonvegthali.jpg" alt="Bhutanese Non-Veg Thali">
      <h3>Bhutanese<br> Non-Veg Thali</h3>
      <h3>Nu. 200</h3>
      <div id="viewcart12">
        <button  onclick='document.getElementById("viewcart12").innerHTML = "<button>VIEW CART</button>" '>ADD TO CART</button>
      </div>
    </article>
  </section>
</section>
