<section class="content">
  <article class="category">
    <h1>About Us</h1>
    <p>
      Welcome to Selise Foodfairy!!!<br>
      It provides you with simple and convenient way for customers to purchase food online,
      without having to go to the restaurant.These items will then be delivered to the customer
      at his or her doorstep at the time they choose by a delivery person. Payments for such
      online orders can be made through debit cards, credit cards, cash or card on delivery,
      or even through digital wallets.

    </p>
    <br>

  </article>
  <hr>
  <article class="pic">
    <img src="assets/image/about.jpg" alt="food">
  </article>

</section>
<br>

<section >
  <h1>Our Gallery</h1>
  <div class="gallery">
    <img src="assets/gallery/coffee.jpg" alt="coffee">
    <img src="assets/gallery/chiken.jpg" alt="chiken">
    <img src="assets/gallery/indian-food-cover.jpg" alt="indian food">
    <img src="assets/gallery/ema.jpg" alt="ema datshi">
    <img src="assets/gallery/shamu.jpg" alt="shamu datshi">
    <img src="assets/gallery/sha.jpg" alt="shamu">

  </div>
</section>

<section>
  <article class="pic">
    <img src="assets/image/sha.jpg" alt="shamu datshi">
  </article>

  <article class="category">
    <h1>For Veggies</h1>
    <p>
      I personally chose to go vegan because I educated myself on factory
      farming and cruelty to animals, and I suddenly realized that what
      was on my plate were living things, with feelings. And I just couldn’t
      disconnect myself from it any longer I personally chose to go vegan because I educated myself on factory
      farming and cruelty to animals, and I suddenly realized that what
      was on my plate were living things, with feelings. And I just couldn’t
      disconnect myself from it any longer
    </p>
    <br>
    <button routerLink="/shop">ORDER NOW</button>
  </article>

</section>


<section class="service" >
  <h1>Our Service</h1>
  <div >
    <figure>
      <img src="assets/image/brekfast.jpg" alt="breakfast">
      <figcaption>
        <span>Breakfast</span>
        <br>
        All happiness depends on<br> a delicious breakfast.
      </figcaption>
    </figure>


    <figure>
      <img src="assets/image/lunch.jpg" alt="lunch">
      <figcaption>
        <br>
        <span>Lunch</span>
        <br>
        Keep calm and <br> take lunch breaks!

      </figcaption>
    </figure>


    <figure>
      <img src="assets/image/dinner.jpg" alt="dinner">
      <figcaption>
        <span>Dinner</span>
        <br>
        fork is for dinner<br>
        Bon appétit!
      </figcaption>
    </figure>

    <figure>
      <img src="assets/image/dessert.jpg" alt="breakfast">
      <figcaption>
        <span>Dessert</span>
        <br>
        Anything is good <br>if it's made of chocolate

      </figcaption>
    </figure>
  </div>
  <br>
</section>


<section>
  <article class="category">
    <h1>For Hunter</h1>
    <p>This is the body's nurse; but since man's wit
      Found the art of cookery, to delight his sense,
      More bodies are consumed and kill'd with it
      Than with the sword, famine, or pestilence
      This is the body's nurse; but since man's wit
      Found the art of cookery, to delight his sense,
      More bodies are consumed and kill'd with it
      Than with the sword, famine, or pestilence

    </p>
    <br>
    <button routerLink="/shop">ORDER NOW</button>
  </article>
  <article class="pic">
    <img src="assets/image/chiken.jpg" alt="chiken">
  </article>
</section>
<section>
  <article class="events">
    <h2>Reservation for</h2>
    <img src="assets/image/christmas.jpg" alt="christmas">
    <h3>Christmas Celebration</h3>

    <img src="assets/image/dating.jpg" alt="dating">
    <h3>Private Date</h3>

  </article>

  <article class="reserve" >

    <h1>Reservation</h1>
    <h2>Online Booking</h2>
    <br>
    <form>
      <input name="name" type="text"  placeholder="Full Name">
      <br><br>
      <input name="Phone number" type="text"  placeholder="Phone Number">
      <br><br>
      <input name="Email" type="Email" placeholder="Email Address">
      <br><br>
      <input name="Phone number" type="date">
      <br><br>
      <input name="password" type="time"  >
      <br><br><br>
      <button type="submit"  class="sub">Book Now</button>
      <br><br>
    </form>
    <br>

  </article>
  <article class="events">
    <h2>Reservation for</h2>
    <img src="assets/image/birthday.jpg" alt="birthday">
    <h3>BirthdayCelebration</h3>


    <img src="assets/image/meeting.jpg" alt="meeting">
    <h3>Hold a meeting</h3>

  </article>
</section>
